:root {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  --background-dark: hsl(207, 26%, 17%);
  --elements-dark: hsl(209, 23%, 22%);
  --elements-dark-hover: hsl(207, 24%, 28%);
  --texts-dark: hsl(0, 0%, 100%);

  --background-light: hsl(0, 0%, 98%);
  --elements-light: hsl(0, 0%, 100%);
  --texts-light: hsl(200, 15%, 8%);
  --inputs-light: hsl(0, 0%, 52%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
  background-color: var(--background-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--texts-light);
    background-color: var(--background-light);
  }
}
